stages:
  - deploy-dev
  - deploy-prod

# ================================
# DESPLIEGUE DESARROLLO
# ================================
deploy_development:
  stage: deploy-dev
  tags:
    - runner
  script:
    - echo 'Preparando permisos en la location del proyecto para el despliegue del entorno de desarrollo'
    - ssh devops@192.168.120.199 sudo chown -R devops:apache /Data/vhost/fia-dev-apps.tpp/httpdocs/gpp/backs/gpp-back/src
    
    - echo 'Copiando archivos del proyecto para su configuración y despliegue'
    - rsync -avz * .[^.]* devops@192.168.120.199:/Data/vhost/fia-dev-apps.tpp/httpdocs/gpp/backs/gpp-back/src
    
    - echo 'Instalación de dependencias del proyecto'
    - ssh devops@192.168.120.199 "cd /Data/vhost/fia-dev-apps.tpp/httpdocs/gpp/backs/gpp-back/src && php composer.phar install && php artisan cache:clear"
    
    - echo 'Estableciendo permisos en archivos y folders del proyecto'
    - ssh devops@192.168.120.199 "sudo find /Data/vhost/fia-dev-apps.tpp/httpdocs/gpp/backs/gpp-back/src -type f -exec chmod 664 {} \\;"
    - ssh devops@192.168.120.199 "sudo find /Data/vhost/fia-dev-apps.tpp/httpdocs/gpp/backs/gpp-back/src -type d -exec chmod 775 {} \\;"
    - ssh devops@192.168.120.199 sudo chown -R apache:apache /Data/vhost/fia-dev-apps.tpp/httpdocs/gpp/backs/gpp-back/src
  rules:
    - if: $CI_COMMIT_BRANCH == "develop"

# ================================
# DESPLIEGUE PRODUCCIÓN
# ================================
deploy_production:
  stage: deploy-prod
  tags:
    - runner
  script:
    - echo 'Preparando permisos en la location del proyecto para el despliegue del entorno de producción'
    - ssh devops@192.168.120.199 sudo chown -R devops:apache /Data/vhost/fia-dev-apps.tpp/httpdocs/gpp/backs/gpp-back/src
    
    - echo 'Copiando archivos del proyecto para su instalación, configuración y despliegue'
    - rsync -avz * .[^.]* devops@192.168.120.199:/Data/vhost/fia-dev-apps.tpp/httpdocs/gpp/backs/gpp-back/src
    
    - echo 'Limpieza en locación del proyecto para una instalación limpia'
    - ssh devops@192.168.120.199 "cd /Data/vhost/fia-dev-apps.tpp/httpdocs/gpp/backs/gpp-back/src && rm -rf vendor && rm composer.lock"
    
    - echo 'Instalación de dependencias del proyecto'
    - ssh devops@192.168.120.199 "cd /Data/vhost/fia-dev-apps.tpp/httpdocs/gpp/backs/gpp-back/src && php composer.phar install && php artisan config:clear && php artisan cache:clear"
    
    - echo 'Estableciendo permisos y privilegios en archivos y folders del proyecto'
    - ssh devops@192.168.120.199 "sudo find /Data/vhost/fia-dev-apps.tpp/httpdocs/gpp/backs/gpp-back/src -type f -exec chmod 664 {} \\;"
    - ssh devops@192.168.120.199 "sudo find /Data/vhost/fia-dev-apps.tpp/httpdocs/gpp/backs/gpp-back/src -type d -exec chmod 775 {} \\;"
    - ssh devops@192.168.120.199 "sudo chown -R apache:apache /Data/vhost/fia-dev-apps.tpp/httpdocs/gpp/backs/gpp-back/src/"
  rules:
    - if: $CI_COMMIT_BRANCH == "main"