version: '3'

services:
    app:
        build:
          context: .
          dockerfile: Dockerfile
        container_name: test-app
        restart: unless-stopped
        working_dir: /var/www/html
        volumes:
            - ./:/var/www/html
            - ./vendor:/var/www/html/vendor
            - ./storage:/var/www/html/storage
            - ./php/local.ini:/usr/local/etc/php/conf.d/local.ini

    webserver:
        image: nginx:alpine
        container_name: test-webserver
        restart: unless-stopped
        ports:
            - "8080:80"
        volumes:
            - ./public:/var/www/html/public
            - ./infra-devops/nginx/conf.d/:/etc/nginx/conf.d/
        
        depends_on:
            - app

    db:
        image: postgres:15-alpine
        container_name: app-db
        restart: unless-stopped
        environment:
            POSTGRES_DB: app_db
            POSTGRES_USER: app_user
            POSTGRES_PASSWORD: 123456
#            PGDATA: /var/lib/postgresql/data/pgdata
        ports:
            - "5432:5432"
#        volumes:
#            - dbdata:/var/lib/postgresql/data
       

volumes:
    dbdata:
        driver: local
